:root {
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
}

@theme {
  --font-sans: 'Roboto', sans-serif;
  --color-background: #ffffff;
  --color-foreground: oklch(98.5% 0 0);
  --color-primary: #7ca2a1;
  --color-primary-content: #ffffff;
  --color-secondary: #c1d5c9;
  --color-tertiary: #ecd2a1;
  --color-quaternary: #dfa75a;
  --color-quinary: #b0b182;
  --color-senary: #a3652e;
  --color-setenary: #5f7a79;
  --color-otenary: #7d4b4b;
  --color-novenary: #a1675e;
}